.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  body {
    height: 100vh;
    width: 100vw;
  }
  main p {
    font-size: 18px;
  }
}
